{% load i18n %}
<ul class="sidebar-nav">
    <li><a href="{% url 'catalog:index' %}">{% translate "Home" %}</a></li>
    <li><a href="{% url 'catalog:books' %}">{% translate "All books" %}</a></li>
    <li><a href="">{% translate 'All authors' %}</a></li>
    {% if user.is_authenticated %}
        <li>{% trans 'User:' %} {{ user.get_username }}</li>
        <li><a href="{% url 'catalog:my-borrowed' %}">{% trans 'My Borrowed' %}</a></li>
        <li><a href="{% url 'logout' %}?next={{ request.path }}">{% trans 'Logout' %}</a></li>
    {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">{% trans 'Login' %}</a></li>
    {% endif %}
</ul>
