{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans 'ALL Borrowed books' %}</h1>
    {% if allborrow_list %}
        <ul>
            {% for bookinst in allborrow_list %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'catalog:book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
                    ({{ bookinst.due_back }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans 'There are no books borrowed.' %}</p>
    {% endif %}
{% endblock %}
